@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100;1,300;1,400;1,500&display=swap');

$layout-breakpoint-xsmall:500px;
$layout-breakpoint-small: 960px;
$accent-color: #E6F4F1;
$highlight-color: #A64955;
$text-color: #82A1B4;
$bg-color: #E6F4F1;
$dark-text: #303B39;

body{
  height: 100vh;
  background-image: linear-gradient(to left top, #0d3674, #245186, #3f6c96, #5f86a5, #82a1b4);
}


*{
  margin:0;
  padding:0;
}

#content {
  font-family:'Roboto','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: $text-color;
  display:grid;
  grid-template-columns: 2fr 2.5fr;
  gap:2rem;
  grid-template-areas: 
  '.  logo'
  '.  header'
  '.  rightside';
  background-image: url(/src/photos/restaurant-jason-leung-poI7DelFiVA-unsplash.jpg);
    height:50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;

  @media (max-width: $layout-breakpoint-small) {
    grid-template-columns: 1fr 5fr;
    gap:1rem;
    .header{
      margin-top: -1rem;
    
    }
  
  }
 #logo{
   grid-area: logo;
   margin: 1em;
   margin-bottom: -1em;
   color: $highlight-color;
   font-size: 1.6rem;
   background-size: contain;
   background-color: rgba(black,0.6);
   padding-left:2rem;
 } 
  
}

.right-side{
  grid-area: rightside

}

.header{
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  margin-bottom: .3rem;
  grid-area: header;
  font-size:1.5em;
  padding-top:20%;
  @media (max-width: $layout-breakpoint-xsmall) {
      font-size:1.3em;
  
  

  }
 
  ul{
    margin-right:1em;
    list-style-type: none;
    font-weight: bold;
  
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $accent-color;
  
    
    
    li{
      padding-left:.5rem;
      padding-right:.5rem;
      padding-top:.2rem;
      padding-bottom: .2rem;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight:800;
      &:hover{
        background-color: $highlight-color;
        cursor: pointer;
      }
    }
    }

}

.intro-msg{
  background-color: rgba($bg-color,0.8);
  color: $dark-text;

  display:flex;
  flex-direction:column;
  gap:1em;
  padding:1.5em;
  font-size:1.3em;
  max-width: 80ch;


  h2{
    background-color: $highlight-color;
    padding-left:2rem;
  }
}

.menu-options{
  color: $dark-text;
  padding:1em;
  background-color: rgba($bg-color,0.8);
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.3rem;
  font-size: clamp(1rem, 4vw, 1.2rem);

  h3{
    background-color: $highlight-color;
    margin-bottom:.5rem;
    padding-left:1rem;
    @media (max-width: $layout-breakpoint-small) {
      padding-left:4rem;
      
    }
  }
  p{
    
    margin-left:.4rem;
    justify-content: space-between;
   
    &:nth-last-child(1){
      justify-self: flex-end;
      align-self: flex-end;
    }
  }
 
  @media (max-width: $layout-breakpoint-small) {
    grid-template-columns: 1fr;
    
  }
}

.about-section{
  color: $dark-text;
  background-color: rgba($bg-color,0.8);
  padding:2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:1rem;
  font-size:1.3em;
  grid-template-areas: 
  "location location"
  "dezzep imgsrc"
  "project project";
  a{
    font-size:1.2rem;
    
    &:hover{
      cursor: pointer;
      color: rgba(blue,0.8)
    }
  }
  #about0{
    grid-area: dezzep;
    background-color:rgba($highlight-color, 0.4);
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left:.4em;
    padding:1rem;
    
  }
  #about1{
    grid-area: imgsrc;
    background-color: rgba($highlight-color, 0.4);
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding:1rem;
    
  }
  #about2{
    
    grid-area: location;
    border-bottom: 3px $highlight-color solid;
    padding-bottom:10px;

    h3{
      background-color: $highlight-color;
      margin-bottom: 1em;
      padding-left: .6em;
    }
  }
  #about3{
    grid-area: project;
    border-top: 3px $highlight-color solid;
    padding-top: 10px;
  }
}